<div>
    <section>
        <div class="breadcrumb">
            <div>Dashboard</div>
            <div class="current-time">{{ clock | date: 'shortTime'}}</div>
            <div class="clearfix"></div>
        </div>
        <div class="kanban-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-9"></div>
                    <!--<div class="col-xs-6 text-center current-time">01.59 pm</div>-->
                    <div class="col-xs-3">
                        <input type="search" placeholder="Search Order" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="kb-main">
                <div class="kb-column">
                    <div class="kb-column-header">
                        <div class="float-left">New Order <span class="order-count">{{(newOrderBucket &&
                                newOrderBucket.orderCount) || 0}}</span></div>
                        <div class="float-right">
                            <button class="add-order" (click)="showAddForm()">+</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ticket-sec" *ngIf="newOrderBucket">
                        <div class="ticket-main" *ngFor="let order of newOrderBucket.orders; index as orderIndex;">
                            <div class="order-detail" (click)="toggleOrderDetails(order, orderIndex, 'no')">
                                <div>
                                    <div class="float-left"><img src="../../assets/images/order_number_icon.png" />
                                        {{ order.orderNumber.substring(9)}}</div>
                                    <div class="float-right"><img src="../../assets/images/time_icon.png" /> {{
                                        getOrderAging(order) }}</div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="order-description" id="orderdetailsdivno{{ orderIndex }}"
                                style="display: none;">
                                <table class="order-tbl">
                                    <tbody>
                                        <tr class="order-tbl-header">
                                            <td class="text-center">Item Name</td>
                                            <td class="text-center">Qty</td>
                                            <td class="text-center">Price</td>
                                        </tr>
                                        <tr *ngFor="let item of order.orderLines; index as itemIndex;">
                                            <td>{{ item.itemName }}</td>
                                            <td class="text-center">{{ item.orderQuantity }}</td>
                                            <td class="text-right">{{ getOrderLineTotal(item) |
                                                currency:'USD':true:'1.2-2' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="top6">
                                    <div class="float-right">
                                        <div class="move-to-drop tkt-left-btn">
                                            <div class="move-to-options" style="right: -50px!important">
                                                <ul>
                                                    <li (click)="changeOrderStatus(order, 2)">Being Prepared</li>
                                                    <li (click)="changeOrderStatus(order, 3)">Prepared</li>
                                                    <li (click)="changeOrderStatus(order, 4)">Packing</li>
                                                    <li (click)="changeOrderStatus(order, 5)">Ready for Delivery</li>
                                                </ul>
                                            </div>
                                            <button class="move-order-btn" (click)="showMoveToColumn()">Move To<span
                                                    class="caret"></span></button>
                                        </div>
                                        <button class="edit-order-btn tkt-left-btn" (click)="showEditForm(order)">Edit Order</button>
                                        <button class="cancel-order-btn" (click)="showCancelOrderPopup(order)">Cancel
                                            Order</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kb-column">
                    <div class="kb-column-header">Being Prepared <span class="order-count">{{(beingPreparedBucket &&
                            beingPreparedBucket.orderCount) || 0}}</span></div>
                    <div class="ticket-sec" *ngIf="beingPreparedBucket">
                        <div class="ticket-main" *ngFor="let order of beingPreparedBucket.orders; index as orderIndex;">
                            <div class="order-detail" (click)="toggleOrderDetails(order, orderIndex, 'beingPrepared')">
                                <div>
                                    <div class="float-left"><img src="../../assets/images/order_number_icon.png" /> {{
                                        order.orderNumber.substring(9)}}</div>
                                    <div class="float-right"><img src="../../assets/images/time_icon.png" /> {{
                                        getOrderAging(order) }}</div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="order-description" id="orderdetailsdivbeingPrepared{{ orderIndex }}"
                                style="display: none;">
                                <table class="order-tbl">
                                    <tbody>
                                        <tr class="order-tbl-header">
                                            <td class="text-center">Item Name</td>
                                            <td class="text-center">Qty</td>
                                            <td class="text-center">Price</td>
                                        </tr>
                                        <tr *ngFor="let item of order.orderLines; index as itemIndex;">
                                            <td>{{ item.itemName }}</td>
                                            <td class="text-center">{{ item.orderQuantity }}</td>
                                            <td class="text-right">{{ getOrderLineTotal(item) |
                                                currency:'USD':true:'1.2-2' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="top6">
                                    <div class="float-right">
                                        <div class="move-to-drop tkt-left-btn">
                                            <div class="move-to-options">
                                                <ul>
                                                    <li (click)="changeOrderStatus(order, 3)">Prepared</li>
                                                    <li (click)="changeOrderStatus(order, 4)">Packing</li>
                                                    <li (click)="changeOrderStatus(order, 5)">Ready for Delivery</li>
                                                </ul>
                                            </div>
                                            <button class="move-order-btn" (click)="showMoveToColumn()">Move To
                                                <span class="caret"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kb-column">
                    <div class="kb-column-header">Prepared <span class="order-count">{{(preparedBucket &&
                            preparedBucket.orderCount) || 0}}</span></div>
                    <div class="ticket-sec" *ngIf="preparedBucket">
                        <div class="ticket-main" *ngFor="let order of preparedBucket.orders; index as orderIndex;">
                            <div class="order-detail" (click)="toggleOrderDetails(order, orderIndex, 'prepared')">
                                <div>
                                    <div class="float-left"><img src="../../assets/images/order_number_icon.png" /> {{
                                        order.orderNumber.substring(9)}}</div>
                                    <div class="float-right"><img src="../../assets/images/time_icon.png" /> {{
                                        getOrderAging(order) }}</div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="order-description" id="orderdetailsdivprepared{{ orderIndex }}"
                                style="display: none;">
                                <table class="order-tbl">
                                    <tbody>
                                        <tr class="order-tbl-header">
                                            <td class="text-center">Item Name</td>
                                            <td class="text-center">Qty</td>
                                            <td class="text-center">Price</td>
                                        </tr>
                                        <tr *ngFor="let item of order.orderLines; index as itemIndex;">
                                            <td>{{ item.itemName }}</td>
                                            <td class="text-center">{{ item.orderQuantity }}</td>
                                            <td class="text-right">{{ getOrderLineTotal(item) |
                                                currency:'USD':true:'1.2-2' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="top6">
                                    <div class="float-right">
                                        <div class="move-to-drop tkt-left-btn">
                                            <div class="move-to-options">
                                                <ul>
                                                    <li (click)="changeOrderStatus(order, 2)">Being Prepared</li>
                                                    <li (click)="changeOrderStatus(order, 4)">Packing</li>
                                                    <li (click)="changeOrderStatus(order, 5)">Ready for Delivery</li>
                                                </ul>
                                            </div>
                                            <button class="move-order-btn" (click)="showMoveToColumn()">Move To
                                                <span class="caret"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kb-column">
                    <div class="kb-column-header">Packing <span class="order-count">{{(packingBucket &&
                            packingBucket.orderCount) || 0}}</span></div>
                    <div class="ticket-sec" *ngIf="packingBucket">
                        <div class="ticket-main" *ngFor="let order of packingBucket.orders; index as orderIndex;">
                            <div class="order-detail" (click)="toggleOrderDetails(order, orderIndex, 'packing')">
                                <div>
                                    <div class="float-left"><img src="../../assets/images/order_number_icon.png" /> {{
                                        order.orderNumber.substring(9)}}</div>
                                    <div class="float-right"><img src="../../assets/images/time_icon.png" /> {{
                                        getOrderAging(order) }}</div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="order-description" id="orderdetailsdivpacking{{ orderIndex }}"
                                style="display: none;">
                                <table class="order-tbl">
                                    <tbody>
                                        <tr class="order-tbl-header">
                                            <td class="text-center">Item Name</td>
                                            <td class="text-center">Qty</td>
                                            <td class="text-center">Price</td>
                                        </tr>
                                        <tr *ngFor="let item of order.orderLines; index as itemIndex;">
                                            <td>{{ item.itemName }}</td>
                                            <td class="text-center">{{ item.orderQuantity }}</td>
                                            <td class="text-right">{{ getOrderLineTotal(item) |
                                                currency:'USD':true:'1.2-2' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="top6">
                                    <div class="float-right">
                                        <div class="move-to-drop tkt-left-btn">
                                            <div class="move-to-options">
                                                <ul>
                                                    <li (click)="changeOrderStatus(order, 2)">Being Prepared</li>
                                                    <li (click)="changeOrderStatus(order, 3)">Prepared</li>
                                                    <li (click)="changeOrderStatus(order, 5)">Ready for Delivery</li>
                                                </ul>
                                            </div>
                                            <button class="move-order-btn" (click)="showMoveToColumn()">Move To
                                                <span class="caret"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kb-column">
                    <div class="kb-column-header">Ready To Be Delivered
                        <span class="order-count">{{(readyOrderBucket && readyOrderBucket.orderCount) || 0}}</span>
                    </div>

                    <div class="ticket-sec" *ngIf="readyOrderBucket">
                        <div class="ticket-main" *ngFor="let order of readyOrderBucket.orders; index as orderIndex;">
                            <div class="order-detail" (click)="toggleOrderDetails(order, orderIndex, 'ready')" *ngIf="order.orderStatus < 6">
                                <div>
                                    <div class="float-left"><img src="../../assets/images/order_number_icon.png" /> {{
                                        order.orderNumber.substring(9)}}</div>
                                    <div class="float-right"><img src="../../assets/images/time_icon.png" /> {{
                                        getOrderAging(order) }}</div>
                                    <div class="clearfix"></div>
                                </div>                                
                                <div class="delivered-status" *ngIf="order.orderStatus == 6">Delivered</div>
                            </div>
                            <div class="order-description" id="orderdetailsdivready{{ orderIndex }}"
                                style="display: none;"  *ngIf="order.orderStatus != 6">
                                <table class="order-tbl">
                                    <tbody>
                                        <tr class="order-tbl-header">
                                            <td class="text-center">Item Name</td>
                                            <td class="text-center">Qty</td>
                                            <td class="text-center">Price</td>
                                        </tr>
                                        <tr *ngFor="let item of order.orderLines; index as itemIndex;">
                                            <td>{{ item.itemName }}</td>
                                            <td class="text-center">{{ item.orderQuantity }}</td>
                                            <td class="text-right">{{ getOrderLineTotal(item) |
                                                currency:'USD':true:'1.2-2' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="top6">
                                    <div class="float-right">
                                        <div class="move-to-drop tkt-left-btn">
                                            <div class="move-to-options">
                                                <ul>
                                                    <li (click)="changeOrderStatus(order, 2)">Being Prepared</li>
                                                    <li (click)="changeOrderStatus(order, 3)">Prepared</li>
                                                    <li (click)="changeOrderStatus(order, 4)">Packing</li>
                                                </ul>
                                            </div>
                                            <button class="move-order-btn" (click)="showMoveToColumn()">Move To
                                                <span class="caret"></span>
                                            </button>
                                        </div>
                                        <button class="edit-order-btn" (click)="changeOrderStatus(order, 6)">Deliver</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- <div class="ticket-main delivered-tkt" *ngIf="order.orderStatus == 6">
                                <div class="order-detail">
                                    <div>
                                        <div class="float-left"><img src="../../assets/images/order_number_icon.png" /> {{
                                            order.orderNumber.substring(9)}}</div>
                                        <div class="float-right"><img src="../../assets/images/time_icon.png" /> {{
                                            getOrderAging(order) }}</div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="delivered-status">Delivered</div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>

<div class="add-overlay" [hidden]="!showPopup">
    <div class="add-pop-overlay">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="closeForm()">×</button>
            <h4 class="modal-title">New Order</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text" class="form-control" autocomplete="off"
                                [(ngModel)]="record.order.customerName" name="customerName">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Customer Phone</label>
                            <input type="text" class="form-control" autocomplete="off"
                                [(ngModel)]="record.order.customerContactNumber" name="customerContactNumber">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Delivery Type <span class="asterisk">*</span></label>
                            <select [disabled]="true" class="form-control" [(ngModel)]="record.order.orderType"
                                name="orderTypeId">
                                <option *ngFor="let orderType of orderTypes" [ngValue]="orderType.id">{{orderType.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="food-order-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="food-ordering-header">
                            Select Item
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input class="form-control" list="itemList" name="itemList" [(ngModel)]='selectedItemName'
                            (change)="onItemChanged(selectedItemName)">
                        <datalist id="itemList">
                            <select>
                                <option *ngFor="let item of items" [value]="item.itemName"></option>
                            </select>
                        </datalist>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="ordered-items-tbl">
                            <tr>
                                <th class="text-center">Sl No</th>
                                <th class="text-center">Item Name</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">Item Price</th>
                                <th class="text-center">Total Price</th>
                                <th class="text-center">Delete</th>
                            </tr>
                            <tr *ngFor='let selectedItem of selectedItems; index as i;'>
                                <td class="text-center">{{i + 1}}</td>
                                <td>{{selectedItem.itemName}}</td>
                                <td class="text-center bold">
                                    <div class="qty-main">
                                        <div class="float-left neg-qty-box">
                                            <button class="qty-btn" (click)="reduceQuantity(i)">-</button>
                                        </div>
                                        <div class="float-left qty-box">{{selectedItem.orderQuantity}}</div>
                                        <div class="float-left pos-qty-box">
                                            <button class="qty-btn" (click)="increaseQuantity(i)">+</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </td>
                                <td class="text-right bold">{{selectedItem.itemCharge | currency:'USD':true:'1.2-2'}}
                                </td>
                                <td class="text-right bold">{{getItemTotalAmount(selectedItem.orderQuantity,
                                    selectedItem.itemCharge) | currency:'USD':true:'1.2-2'}}</td>
                                <td class="text-center">
                                    <button class="trans-btn" (click)="deleteItem(i)"><img
                                            src="../../assets/images/delete.png" /></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center bold">Total</td>
                                <td class="text-center bold">{{ getTotalItems() }}</td>
                                <td>&nbsp;</td>
                                <td class="text-right bold">{{ getTotalAmount() | currency:'USD':true:'1.2-2' }}</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default left-btn" data-dismiss="modal"
                (click)="closeForm()">Cancel</button>
            <button type="button" class="btn btn-active" data-dismiss="modal" (click)="saveOrder()">Save</button>
        </div>
    </div>
</div>

<div class="overlay" [hidden]="!showOrderCancelPopup">
    <div class="pop-overlay">
        <div class="confirm-header">
            <img src="../../assets/images/error.png" />
        </div>
        <div class="text-center pop-header">Confirm!</div>
        <div class="text-center">
            <div>Are you sure to cancel order number {{ orderNumberForCancellation }}</div>
            <div class="top20">
                <!-- <label><input class="confirm-check" type="checkbox" /> Don't show this message again</label> -->
            </div>
        </div>
        <div class="text-center">
            <button class="no-btn" (click)="closeOrderCancelPopup()">No</button>
            <button class="success-btn" (click)="cancelOrder()">Yes</button>
        </div>
    </div>
</div>