<!-- <div class="overlay" *ngIf="messageService.isSuccessMessage">
    <div class="pop-overlay">
        <div class="success-header">
            <img src="../../../assets/images/success.png" />
        </div>
        <div class="text-center pop-header"></div>
        <div class="text-center">{{messageService.successMessage}}</div>
        <div class="text-center">
            <button class="success-btn" (click)="messageService.closeSuccessMessage()">Continue</button>
        </div>
    </div>
</div> -->

<div class="overlay" *ngIf="messageService.isSuccessMessage">
    <div class="success-overlay">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
    </div>
</div>

<div class="overlay" *ngIf="messageService.isErrorMessage">
    <div class="pop-overlay">
        <div class="error-header">
            <img src="../../../assets/images/error.png" />
        </div>
        <div class="text-center pop-header"></div>
        <div class="text-center">{{messageService.errorMessage}}</div>
        <div class="text-center">
            <button class="error-btn" (click)="messageService.closeErrorMessage()">Continue</button>
        </div>
    </div>
</div>