<div>
    <section>
        <div class="breadcrumb">Kitchen Counters</div>
        <div class="list-sec">
            <div class="text-right">
                <button class="trans-btn" (click)="showAddForm()">
                    <img src="../../assets/images/add.png" />
                </button>
            </div>
            <table class="custom-tbl">
                <tbody>
                    <tr>
                        <th class="text-center">Sl No</th>
                        <th class="text-center">Counter Name</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>
                    <tr *ngFor='let kitchenData of kitchens; index as i;'>
                        <td class="text-center">{{i + 1}}</td>
                        <td>{{kitchenData.counterNumber}}</td>
                        <td class="text-center">
                            <button class="trans-btn" (click)="showEditForm(kitchenData.kitchenId)"><img src="../../assets/images/edit.png" /></button>
                        </td>
                        <td class="text-center">
                            <button class="trans-btn" (click)="deleteRecord(kitchenData.kitchenId)"><img src="../../assets/images/delete.png" /></button>
                        </td>
                    </tr>
                    <tr [hidden]="!recordNotFound">
                     <td class="text-center" colspan="4">   <img src="../../assets/images/norecordfound.png" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="clearfix"></div>
</div>

<div class="add-overlay" [hidden]="!showPopup">
    <div class="add-pop-overlay">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="closeForm()">×</button>
            <h4 class="modal-title">Add Kitchen Counter</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Kitchen Counter Name <span class="asterisk">*</span></label>
                                <input type="text" class="form-control" autocomplete="off" [(ngModel)]="record.counterNumber" name="counterNumber">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default left-btn" data-dismiss="modal" (click)="closeForm()">Cancel</button>
            <button type="button" class="btn btn-active" data-dismiss="modal" (click)="saveKitchen()">Save</button>
        </div>
    </div>
</div>