<div>
    <section>
        <div class="breadcrumb">Kitchen Counters</div>
        <div class="list-sec">
            <div class="text-right">
                <button class="trans-btn">
                    <img src="../../assets/images/add.png" />
                </button>
            </div>
            <table class="custom-tbl">
                <tbody>
                    <tr>
                        <th class="text-center">Sl No</th>
                        <th class="text-center">Counter Name</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td>Counter 1</td>
                        <td class="text-center">
                            <button class="trans-btn"><img src="../../assets/images/edit.png" /></button>
                        </td>
                        <td class="text-center">
                            <button class="trans-btn"><img src="../../assets/images/delete.png" /></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td>Counter 2</td>
                        <td class="text-center">
                            <button class="trans-btn"><img src="../../assets/images/edit.png" /></button>
                        </td>
                        <td class="text-center">
                            <button class="trans-btn"><img src="../../assets/images/delete.png" /></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>Counter 3</td>
                        <td class="text-center">
                            <button class="trans-btn"><img src="../../assets/images/edit.png" /></button>
                        </td>
                        <td class="text-center">
                            <button class="trans-btn"><img src="../../assets/images/delete.png" /></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td>Counter 4</td>
                        <td class="text-center">
                            <button class="trans-btn"><img src="../../assets/images/edit.png" /></button>
                        </td>
                        <td class="text-center">
                            <button class="trans-btn"><img src="../../assets/images/delete.png" /></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="clearfix"></div>
</div>

<div class="add-overlay" style="display:none;">
    <div class="add-pop-overlay">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Add Kitchen Counter</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Kitchen Counter Name <span class="asterisk">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default left-btn" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-active" data-dismiss="modal">Add</button>
        </div>
    </div>
</div>